.cards.-active {
  box-shadow: -1px -1px 3px #ffffff, 1px 1px 3px rgba(0, 0, 0, 0.5),
    inset 2px 2px 3px rgba(0, 0, 0, 0.2), inset -2px -2px 3px #ffffff;
}
.cards {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 2px solid var(--color-zero);
}

.cards > .player {
  display: block;
  line-height: 100px;
  margin: 0 auto;
}
