.cards.-active {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid var(--color-zero);
  border-radius: 10px;
  box-shadow: -1px -1px 3px #ffffff, 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.cards {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid var(--color-zero);
  border-radius: 10px;
  box-shadow: -1px -1px 3px #ffffff, 1px 1px 3px rgba(0, 0, 0, 0.3),
    inset 1px 1px 3px rgba(0, 0, 0, 0.1),
    inset -1px -1px 3px rgba(255, 255, 255, 0.6);
}
