.board {
  max-width: 360px;
  height: 600px;
  position: relative;
  text-align: center;
  padding-top: var(--size-extra-large);
  background-color: var(--color-second);
  box-sizing: border-box;
}

.board > .cards-game {
  margin: 2px;
}

.board > .cards-game:nth-child(3),
.board > .cards-game:nth-child(5),
.board > .cards-game:nth-child(7) {
  border: 3px solid var(--color-first);
}

.check {
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  padding-top: var(--size-medium);
}

.check > .input {
  display: inline-block;
  width: 22px;
  height: 22px;
}
.check > .input:checked {
  width: 22px;
  height: 22px;
}

.check .label {
  all: unset;
  display: inline-block;
  position: relative;
  bottom: 8px;
  margin-left: 10px;
}

.tag-game {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-negative);
}

.history-game {
  width: 100%;
  height: 170px;
  position: absolute;
  padding: 20px 0;
  list-style: none;
  bottom: 0px;
  box-sizing: border-box;
}

.history-game .action {
  display: inline-block;
  margin: 10px 4px;
}
