.board {
  max-width: 360px;
  height: 600px;
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  background-color: var(--color-second);
}

.game-board {
  width: 330px;
  height: 335px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 30px 0;
}

.game-board > .cards {
  margin: 3px;
}

.game-board > .cards:nth-child(3),
.game-board > .cards:nth-child(5),
.game-board > .cards:nth-child(7) {
  border: 3px solid var(--color-nineth);
}

.check {
  width: 160px;
  height: 30px;
  display: inherit;
  position: absolute;
  bottom: 190px;
}

.check > .input {
  display: inline-block;
  width: 22px;
  height: 22px;
}
.check > .input:checked {
  width: 22px;
  height: 22px;
}

.check > .label {
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
}
