.layer-dark {
  width: 330px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--color-third);
  padding-top: 20px;
  overflow: hidden;
  transform: translateX(100%);
  opacity: 0;
  scale: 0;
  transition: transform 300ms linear, opacity 300ms linear, scale 300ms linear;
}
.layer-dark.-active {
  transform: translateX(0%);
  scale: 1;
  opacity: 1;
}
.layer-dark > .header-sobre {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.layer-dark .logo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.layer-dark > .header-sobre > .menu-sobre {
  color: var(--color-zero);
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.layer-dark .close {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.layer-dark > .descricao {
  width: 290px;
  height: 70px;
  line-height: var(--size-medium);
  letter-spacing: 0.2rem;
  text-align: center;
}

.layer-dark > .footer {
  display: block;
  margin: 0;
  color: var(--color-zero);
  background: none;
}
