.input {
  all: unset;
  background: none;
  border: 1px solid var(--color-zero);
  box-sizing: border-box;
  margin: 3px 0;
}
.input:checked {
  border: 1px solid var(--color-zero);
  background: url(../../img/check-rose.svg) no-repeat center;
  box-sizing: border-box;
}
