.header {
  max-width: 360px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-second);
  padding: 20px 35px;
  box-sizing: border-box;
  margin: auto;
}

.header > .logo {
  margin-right: 10px;
}

.header > .sobre {
  margin: 0 10px 0 auto;
}
.header > .menu-link {
  width: 30px;
  position: relative;
}
