:root {
  --color-negative: #3a3a3a;
  --color-zero: #ffffff;
  --color-first: #e24647;

  --color-second: #eeeeee;
  --color-third: #9b9b9b;
  --color-fourth: #707070;
  --color-fifth: #828282;

  --color-sixth: #fffeee;
  --color-seventh: #f4f1e4;
  --color-eighth: #eae6da;
}
