.social-media {
  width: 80%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: var(--color-tird);
}

.social-media > a > img {
  width: 40px;
  height: 40px;
  border: 1px solid Var(--color-zero);
  border-radius: 1px;
  padding: 5px;
  box-sizing: border-box;
}
