.sobre {
  width: 330px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--color-third);
  padding-top: 20px;
  overflow: hidden;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 300ms linear, opacity 300ms linear;
}
.sobre.-active {
  transform: translateX(0%);
  opacity: 1;
}
.sobre > .header-sobre {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sobre .logo {
  position: relative;
  top: -6px;
  left: 16px;
}
.sobre > .header-sobre > .menu-sobre {
  color: var(--color-zero);
  position: relative;
  top: -7px;
  left: 2px;
}

.sobre .close {
  position: relative;
  top: -6px;
  left: -18px;
}

.sobre > .descricao {
  width: 290px;
  height: 70px;
  line-height: var(--size-medium);
  letter-spacing: 0.2rem;
  text-align: center;
}

.sobre > .footer {
  margin: 0;
  color: var(--color-zero);
  background: none;
}
